{
	auto_https off
	admin off
}

:8080 {
	root * /app/public
	encode gzip

	@static {
		file
		path *.js *.css *.png *.jpg *.jpeg *.gif *.ico *.svg *.woff *.woff2 *.ttf *.eot
	}
	header @static Cache-Control "public, max-age=31536000, immutable"

	php_server
}

